<html>
<body>
  <head>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid black;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: white;
    }

    th {
      background-color: black;
      color: white;
    }
    </style>
    </head>
    <body>
    
    <h2>FAMILUG TABLE</h2>
    

<table style="width:100%">
  <tr>
    <th>Python</th>
    <th>Command</th> 
    <th>Sysadmin</th>
    <th>Latest</th>
  </tr>
  <tr>
    <td>
      <br>
      {% for link,title in link1 %}
        <a href='{{link}}'>{{title}}</a><br>
      {% endfor %}
    </td>
    <td>
      {% for link,title in link2 %}
      <a href='{{link}}'>{{title}}</a><br>
      {% endfor %}
    </td>
    <td>
      {% for link,title in link3 %}
      <a href='{{link}}'>{{title}}</a><br>
      {% endfor %}
    </td>
    <td>
      {% for link,title in link4 %}
      <a href='{{link}}'>{{title}}</a><br>
      {% endfor %}
    </td>
  </tr>
</table>

</body>
</html>